body {
    font-family: "Lexend";
    margin: 0;
    padding: 0;
    
}


.lexend {
    font-family: "Lexend";
    font-optical-sizing: auto;
    font-style: normal;
  }


/* ............................................. */ 

.container {
    max-width: 95%;
    display: block;
    margin: 0 auto;

}

/* .....................HEADER........................ */ 

header {
    width: 100%;
    background-color: #8D969D;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;  
    margin: 0 auto; 
    padding: 3px 0;
    /* background-color: black; */
    max-height: 90px;
}

.menu-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}
.header img {
    height: 80px;
    margin: 0;
    padding: 0;
}   

.header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header nav a {
    text-decoration: none;
    color: #fff;
    size: 10px;
    font-size: 20px;
}

/* hover */
.header nav a:hover {
    color: #000;
    transition: 0.5s;
}
/* hover */

.header nav li {
    padding: 10px;
    list-style: none;
}

/* .....................MAIN........................ */ 

.box-principal {
    background-color: white;
    display: flex;
    justify-content: center;    
    margin: 20px 20px;
    width: 95%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.459);
}

.titulo {
    text-align: top;
    display: flex;
    justify-content: center;
    align-items: top;
    width: 95%;
    font-size: 20px;

}

.text-inputs {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0;
    width: 100%;
    margin-top: 120px;
    margin-left: 50px;;
    
}

.text-inputs label {
    font-weight: bold;
    margin-top: 10px;
}

.text-inputs input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.075);
}



.imagem-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: 50px;
    
}

.imagem-submit img {
    width: 100%;
    height: 100%;
}




footer {
    background-color: #8D969D;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0;
}

footer p {
    text-align: center;
}

.footer {
    margin: 0;
    padding: 0;
}




