body {
    font-family: "Lexend";
    margin: 0;
    padding: 0;
    
}


.lexend {
    font-family: "Lexend";
    font-optical-sizing: auto;
    font-style: normal;
  }


/* ............................................. */ 

.container { 
    width: 1152px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;

}

/* .....................HEADER........................ */ 

header {
    width: 100%;
    background-color: #8D969D;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;  
    margin: 0 auto; 
    padding: 3px 0;
    /* background-color: black; */
    max-height: 80px;
    
}

.menu-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header img {
    height: 80px;
    margin: 0;
    padding: 0;
}   

.header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header nav a {
    text-decoration: none;
    color: #fff;
    size: 10px;
    font-size: 20px;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
}

/* hover */
.header nav a:hover {
    color: #000;
}
/* hover */

.header nav li {
    padding: 10px;
    list-style: none;
}

/* .....................MAIN........................ */ 

.box-principal {
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 20px 20px;

    gap: 80px;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0);
}

.titulo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: top;
    width: 100%;
    padding: 0;
    font-size: 20px;

}

.text-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-left: 30px;
    padding-left: 60px;
    gap: 10px;
    
}

.text-inputs label {
    font-weight: bold;
    margin: 0px; 
    padding: 8px;
} 

.text-inputs input {
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 900px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.075);
}

.text-inputs form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



/* .imagem-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    
}

.imagem-submit img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */


.imagem-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 50px;
    
}
#picture-input {
    display: none;  
}

.imagem-submit label {
    width: 400px;
    height: 400px;
    margin: 0;
    padding: 0;
    aspect-ratio: 16/9;
    background: #aaa;
    border: 3px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    overflow: hidden;  /* fins didatico = pra imagem nao passar do quadrado */
}

.imagem-submit label:hover {
    background: #ccc;
    color: #fff;
}

.picture-image img { /* fins didatico = ficar na largura e tamanho maximo do pai e o cover pra img nao ficar distorcida */
    max-width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 50px;
    gap: 40px;

}

.submit-button button {
        background-color: blue; 
        border: none;
        color: white;
        padding: 15px 32px;
        border-radius: 200px;
        height: 80px;
        width: 200px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition: opacity 300ms ease-in-out, background 300ms ease-in-out;
        cursor: pointer;
        font-family: lexend;
}

.submit-button button:nth-child(2) {
    background-color: red;
}       

.submit-button button:hover {
    opacity: 0.8;
}

.box-principal {
    display: flex;
    flex-direction: column;
} /* */



/* .....................FOOTER........................ */


footer {
    background-color: #8D969D;
    color: #fff;
    padding: 10px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

footer p {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;    
    align-items: center;
    margin: 0;
    padding: 0;
}



/* .....................RESET CSS........................ 



http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*/